@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

:root {
    --cor0: #dbdee7;
    --cor1: #97ACDB;
    --cor2: #5CAADB;
    --cor3: darkblue;
}

h2 {
    color: var(--cor3);
    text-align: center;
    margin: 10px auto;
}

.cadastro-container {
    background-color:var(--cor0);
    max-width: 250px;
    padding: 15px;
    border: solid 1px var(--cor3);
    margin: 100px auto;
}

#formCadastro {
    max-width: 100%;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

#nome, #senha, #apartamento {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

#tipo {
    display: block;
}

button {
    width: 100%;
    background-color: var(--cor3);
    color: var(--cor0);
    padding: 5px;
    margin: 20px 0;
    margin-bottom: 5px;
    text-align: center;
}
