@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

:root {
    --cor0: #dbdee7;
    --cor1: #97ACDB;
    --cor2: #5CAADB;
    --cor3: darkblue;
}

h2 {
    color: var(--cor3);
    text-align: center;
    margin: 10px auto;
}

.laura {
    font-size:60px;
    color: #b609b6;
}

.laura1 {
    background-color: #ffffff;
    color: 
    rgb(0, 0, 0);
    margin:80px 50px 10px 30px;

}

#message {
    font-size: 14px;
    color: red;
}

.login-container {
    background-color: var(--cor0);
    max-width: 250px;
    padding: 15px;
    border: solid 1px var(--cor3);
    margin: 100px auto;
}

.cadastro-container {
    background-color:var(--cor0);
    max-width: 250px;
    padding: 15px;
    border: solid 1px var(--cor3);
    margin: 100px auto;
}

#formCadastro {
    max-width: 100%;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

#nome, #senha, #apartamento {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

#formNota {
    max-width: 100%;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

#tipo {
    display: block;
}

button {
    width: 100%;
    background-color: var(--cor3);
    color: var(--cor0);
    padding: 5px;
    margin: 20px 0;
    margin-bottom: 5px;
    text-align: center;
}

.btn-enviar {
    width: 50%;
    background-color: var(--cor3);
    color: var(--cor0);
    padding: 5px;
    margin: 20px 0;
    margin-bottom: 5px;
    text-align: center;
}

.logo {
    max-width: 100px;
    margin-top: 0px;
    padding-bottom: 10px;
}

.logo-menu {
    width: 100px;
    margin: 30px;
    margin-left: 100px;
}

.divisao {
    border: solid 1px #264f8060;
    max-width: 400px;
    margin-left: 50px;
}

.divisao1 {
    border: solid 1px #264f80e1;
    max-width: 100%;
    margin-bottom: 15px;
}

.menu-principal {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-menu {
    display: flex;
    padding: 30px 10px 0px 35px;
    text-decoration: none;
    margin-left: 50px;
}

.lista-notas {
    list-style: none;
    padding: 0;
}

.lista-notas li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.lista-notas li:hover {
    background: #f5f5f5;
}

.titulo-nota {
    font-weight: bold;
}

.status {
    font-size: 0.85rem;
    color: #666;
}

